{% extends "dashboard.html" %}

{% block content %}
 <h1>Room Bookings List</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Booking ID</th>
          <th scope="col">From Date</th>
          <th scope="col">To Date</th>
          <th scope="col">Number of Guests</th>
          <th scope="col">Room Type</th>
        </tr>
      </thead>
      <tbody>
        {% for row in booking.room%}
        {% if row[8] == 'active' %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[6] }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
 <h1> Taxi Bookings List</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Booking Id</th>
          <th scope="col">Source</th>
          <th scope="col">Destination</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        {% for row in booking.taxi%}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
 <h1> Food Ordered</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Booking Id</th>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        {% for row in booking.food%}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[6] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

<div class="d-flex justify-content-center mt-3">
  <button id="get-vat" class="btn btn-primary">Get VAT Invoice</button>
</div>
{% endblock %}

{% block scripts %}
<script>
  $('#get-vat').click(function(event) {
    $.ajax({
      url: '/vat-invoice',
      method: 'GET',
      xhrFields: {
        responseType: 'blob'
      },
      success: function(response) {
        var blob = new Blob([response], { type: 'application/pdf' });
        var link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        link.click();
      },
      error: function(error) {
        console.log("error");
      }
    });
  });
  if("{{booking.msg}}"!="nm")
  {
  alert("{{booking.msg}}");
  }
</script>
{% endblock %}
