{% extends "index.html" %}

{% block content %}
 <div id = "central-div">
     <div class="container">
      <div class="row mt-5">
        <div class="col-md-6 offset-md-3 text-center">
          <h1 class="mb-4">Twenty Two Hotel</h1>
          <p class="lead">Welcome to Twenty Two Hotel, the perfect destination for your next getaway. Our luxurious accommodations and top-notch facilities will ensure that your stay is a memorable one.</p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Book a Room</h2>
              <p class="card-text">Choose from our selection of comfortable and stylish rooms to find the perfect one for your needs.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Order Food</h2>
              <p class="card-text">Indulge in our delicious menu, featuring local and international dishes prepared by our expert chefs.</p>
            </div>
          </div>
        </div>
          <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Book a Taxi</h2>
              <p class="card-text">Need a ride? Book a taxi to take you wherever you need to go.</p>
            </div>
          </div>
        </div>
          <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Easy Check-In Process</h2>
              <p class="card-text">Now, you can check-in to your room quickly and easily. You will have a QR code to check in, no need to wait in line at the reception desk!</p>
            </div>
          </div>
        </div>
          <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Get a VAT Invoice</h2>
              <p class="card-text"> Our hotel management system automatically generates a VAT invoice for your stay. You can easily download it from your account page and use it.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}
