{% extends "dashboard.html" %}

{% block content %}
    <h2>Select food from below option</h2>
    <div class="container-fluid">
        <div class="row">
                    {% for food_item in food_items %}
                        <div class="col-md-6">
                            <div class="food-item">
                                <img class="food-img rounded" src="{{ food_item.image_url }}" style="width: 100%; height: auto;">
                                <div class="name" name = "food_name">{{ food_item.name }}</div>
                                <span>Price in dollars:</span>
                                <div class="price" name = "price">{{ food_item.price }}</div>
                                <button class="add-btn btn btn-primary">+</button>
                                <button class="remove-btn btn btn-danger" style="display: none;">-</button>
                                <input type="hidden" name="food_avl" readonly  value="{{ food_item.availability }}">
                                <input type="hidden" name="food_id" readonly value="{{ food_item.id }}"><br>
                                <label>Quantity</label>
                                <input class="item_count" name="food_count" readonly style="display: none;border:none;outline:none;" value="0">
                            </div>
                        </div>
                    {% endfor %}
                </div>
        <h4>Place Order</h4>
           <div class="row">
            <div class="col-md-4">
                        <label for="delivery-date">Delivery Date:</label>
                        <input type="date" name="delivery_date" required id="delivery-date">
                    </div>
                <div class="col-md-4">
                        <label for="delivery-time">Delivery Time:</label>
                        <input type="time" name="delivery_time" required id="delivery-time">
                    </div>
                    <div class=" col-md-4">
                          <button class="submit btn btn-primary">Submit</button>
                    </div>
                </div>
        </div>
{% endblock %}

{% block scripts %}
<script>
  // increase the food item count as the user clicks on "+" button
    $('.add-btn').click(function() {
      var foodId = $(this).data('food-id');
      var foodCount = parseInt($(this).siblings('input[name="food_count"]').val()) + 1;
      if(foodCount>parseInt($(this).siblings('input[name="food_avl"]').val()))
      {
      $(this).hide();
      }
      else
      {
      $(this).siblings('input[name="food_count"]').val(foodCount);
      $(this).siblings('.remove-btn').show();
      $(this).siblings('.item_count').show();
      }
    });
    // decrease the food count as the user clicks on "-" button
    $('.remove-btn').click(function() {
      var foodId = $(this).data('food-id');
      var foodCount = parseInt($(this).siblings('input[name="food_count"]').val()) - 1;
      $(this).siblings('input[name="food_count"]').val(foodCount);
      if (foodCount == 0) {
        $(this).hide();
        $(this).siblings('.item_count').hide();
        $(this).siblings('.add-btn').show();
      }
    });
    // send food order data to backend
// send food order data to backend
$('.submit').click(function(event) {
  event.preventDefault();
  data = {
    delivery_date: $('#delivery-date').val(),
    delivery_time: $('#delivery-time').val(),
    food_order: []
  };
  $('.food-item').each(function() {
    var food_id = $(this).find('input[name="food_id"]').val();
    var food_count = parseInt($(this).find('input[name="food_count"]').val());
    var food_name = $(this).find('div[name="food_name"]').text();
    var food_price = parseInt($(this).find('div[name="price"]').text())*food_count;
    if (food_count > 0) {
      data.food_order.push({id: food_id, count: food_count, name:food_name, price:food_price});
    }
  });
  $.ajax({
    url: '/order-food',
    method: 'POST',
    data: JSON.stringify(data),
    contentType: 'application/json',
    success: function(data) {
      window.location.replace(data.redirect_url);
    },
    error: function(xhr, status, error) {
      console.log('Error submitting order.');
    }
  });
});

</script>
{% endblock %}