{% extends "index.html" %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2 class="my-4 text-center">Registration Form</h2>
				<form method="POST" action="/register">
					<div class="form-group">
						<label for="name">Name</label>
						<input name="name" type="text" class="form-control" id="name" required placeholder="Enter name">
					</div>
					<div class="form-group">
						<label for="username">Username</label>
						<input name = "username" type="text" class="form-control" id="username" required placeholder="Enter username">
					</div>
					<div class="form-group">
						<label for="contact">Contact Info</label>
						<input name="contact" type="text" class="form-control" id="contact" required placeholder="Enter contact info">
					</div>
					<div class="form-group">
						<label for="passport">Passport Detail</label>
						<input name="passport" type="text" class="form-control" id="passport" required placeholder="Enter passport detail">
					</div>
					<div class="form-group">
						<label for="dob">DOB</label>
						<input name="dob" type="date" class="form-control" id="dob" required placeholder="Enter DOB">
					</div>
					<div class="form-group">
						<label for="pincode">Pin Code</label>
						<input name="pincode" type="text" class="form-control" id="pincode" required placeholder="Enter pin code">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input name="password" type="password" class="form-control" id="password" required placeholder="Enter password">
					</div>
					<button type="submit" class="btn btn-primary btn-block">Register</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script>
</script>
{% endblock %}