{% extends "dashboard.html" %}

{% block content %}
<form id="booking-form">
		<label for="source">Source:</label>
		<input type="text" id="source" name="source">

		<label for="destination">Destination:</label>
		<input type="text" id="destination" name="destination">

		<label for="date">Date:</label>
		<input type="date" id="date" name="date">

		<label for="time">Time:</label>
		<input type="time" id="time" name="time">

		<label for="fare">Fare:</label>
		<input type="text" id="fare" name="fare" readonly>

		<input type="submit" value="Confirm">
	</form>

	<div id="map"></div>

{% endblock %}

{% block scripts %}
	<script>
	//import { OpenStreetMapProvider } from 'leaflet-geosearch';

// you want to get it of the window global
const provider = new GeoSearch.OpenStreetMapProvider();
	const map = L.map('map').setView([51.505, -0.09], 13);

L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

const search = new GeoSearch.GeoSearchControl({
  provider: provider,
   style: 'bar',
        searchLabel: 'Please Enter',
        showMarker: true,
autoClose: true,
keepResult: true,
});

map.addControl(search);
console.log(search);
	</script>
{% endblock %}
