{% extends "dashboard.html" %}

{% block content %}
<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2 class="text-center">Taxi Booking</h2>
				<form id="booking-form">
					<div class="form-group">
					<label for="source">Source:</label>
				<div type="text" id="source"></div>
					</div>
				<div class="form-group">
					<label for="destination">Destination:</label>
				<div type="text" id="destination" name="destination"></div>
				</div>
					<div class="form-group">
					<label for="date">Date:</label>
					<input type="date" id="date" name="date">
					</div>
					<div class="form-group">
					<label for="time">Time:</label>
					<input type="time" id="time" name="time">
					</div>

					<button type="submit" id="submit" class="btn btn-primary btn-block">Confirm</button>
			</form>
			</div>
		</div>
</div>


{% endblock %}

{% block scripts %}
	<script>
//leverage API to autopopulate addresses
const provider1 = new GeoSearch.OpenStreetMapProvider();
const provider2 = new GeoSearch.OpenStreetMapProvider();
const map1 = L.map('source').setView([51.505, -0.09], 13);
const map2 = L.map('destination').setView([51.505, -0.09], 13);
tmap = document.getElementById('source');
smap = document.getElementById('destination');
src=""
des=""
 let openStreetMapMapnik1 = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'openstreetmap'
    });
    openStreetMapMapnik1.addTo(map1);
let openStreetMapMapnik2 = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'openstreetmap'
    });
    openStreetMapMapnik2.addTo(map2);
const search1 = new GeoSearch.GeoSearchControl({
  provider: provider1,
   style: 'bar',
        searchLabel: 'Source',
        showMarker: false
});
const search2 = new GeoSearch.GeoSearchControl({
  provider: provider2,
   style: 'bar',
        searchLabel: 'Destination',
        showMarker: false
});

map1.addControl(search1);
map2.addControl(search2);

//send provided data to backend
$("#submit").click(function(e) {
                src = tmap.getElementsByTagName("input")[0].value;
                des = smap.getElementsByTagName("input")[0].value;
                date = document.getElementById("date").value;
                time = document.getElementById("time").value;
                console.log(src+" "+des+" "+date+time)
                $.ajax({
                        type: 'POST',
                        url: '/taxi-booking',
                        data: {'source': src,'destination':des,'date':date,'time':time},
                        success: function() {
                            console.log('Booking Successful! Our Agent will get back to you')
                        },
                        error: function() {
                            alert("Oops! Something went wrong.");
                        }
                });
            });
	</script>
{% endblock %}
